.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pyzwzwzwz
*.tar.gz
models/*.pkl
data/MetroPT3_Dataset.csv
data/Data Description_Metro.pdf
data/raw-data.csv
